* { 
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

input, textarea, select {
  font-size: 14px;
  padding:8px 16px;
  font-family: "Inter", sans-serif;
}

.input:focus, .textarea:focus {
  outline: none !important;
}

.textarea {
  padding:16px;
}

main {
  display:flex;
  min-height: 100vh;
}

main > section {
  flex: 1; 
  width: 50%;
  max-height:100vh;
  overflow-y:auto;
  scrollbar-gutter: stable;
  padding-bottom:32px;
}

section > * {
  padding:0 64px;
}

section.inputs > header {
  background:#f5f5f5;

}

section.outputs header {
  background:#000;

}

section.outputs {
  background-color: #1e1e1e;
  color:#929292;
 
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


section > header {
  margin-bottom: 32px;
  padding-top:16px;
  padding-bottom:16px;
}

.title {
  font-size: 24px;
  font-weight: 400;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.form .button-primary {
  position:sticky;
  top:32px; 
  right:0;
  z-index: 10;
}

.form-groups {
  display: flex;
  gap:32px
}
.form-group { 
  display: flex;
  flex-direction: column;
}

.form-group header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:8px;
}

.expand {
  height: 500px;
}

.label {
  font-weight: 500;
}

.input, .textarea {
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  width:100%;

}

.textarea {
  min-height: 200px;
}
.hint {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}
.button-group {
  display: flex;
  gap: 8px;
}
.button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  padding:12px 16px;
  font-weight: 500;
  color:#6a6a6a;
  background-color: #e0e0e0;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #dbdbdb;
}
.button-primary {
  background-color: #60F6C0;
  color:#358066;
  min-width: 120px;
  font-weight: 700;
}

.button-primary:hover {
  background-color: #61e4b4;
}
.button-secondary {
  background-color: #10b981;
  color: white;
}
.toggle-group {
  display: flex;
  border: 2px solid #c2c2c2;
  border-radius: 4px;
}

.input-wrap {
  display: flex;  
  align-items: center;
  width:100%;
}

.input-prefix {
  border-radius: 2px 0 0 2px;
  border: 1px solid #c2c2c2;
  border-right: none;
  justify-content: end;
  display: flex;
  background-color: #e8e8e8; 
  font-size: 12px;
  height: 100%;
  align-items: center;
  padding: 0 8px;
  min-width: 50px;
}

.input-wrap input {
  border-radius: 0 2px 2px 0;
}

.toggle-group button {
  border: none;
  font-weight: 600;
  border-right: 1px solid #ccc;
  font-size: 12px;
  background-color: #f3f4f6;
  color: #6a6a6a;
  cursor: pointer;
  padding: 8px 12px;
}

.toggle-group button:last-of-type {
  border-radius:0 4px 4px 0;
}

.toggle-group button:first-of-type {
  border-right:none;
}
.button-small {
  font-size: 12px;
  color: #6a6a6a;
  background-color:transparent;
  border:2px solid #6a6a6a;
  padding: 8px 12px;
}

.toggle-group button:hover:not(.active) {
  background-color: #e2e2e2;
  color: #374151;
}

.toggle-group button:last-of-type {
  border:none;
}


.toggle-button.active {
  background-color: #c9c9c9;
  color: #606060;
}

.field-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap:8px;

}

.llm-validation {
  display: flex;
  align-items: center;
}

.llm-validation label {
  margin-left:8px;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  padding:0;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 18px;
  height: 18px;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "x";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.field-group:not(:first-of-type) {
  margin-top: 24px;
}

input[type="checkbox"]:checked::before {
  background-color: #c2c2c2;;
  transform: scale(1.2);
}

.field-group:last-of-type {
  border-bottom:none;
  padding-bottom: 0;
}
.button-group.send {
  position: fixed;
  bottom:32px;
  right:calc(50% + 64px);
}

.field-group header {
  display:flex;
  align-items: center;
  justify-content:space-between;
}

.field-group h3 {
  font-size:14px;
  font-weight: 400;
}

.field-group .remove-button {
  padding: 2px 6px;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
}

#structureFields {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #f9f9f9;
  padding:12px;
  gap:8px;
}

.field-flex {
  display:flex;
  gap:8px;
}

.panel-toggle {
  position: fixed;
  top: 12px;
  left: 8px;
  z-index: 1000;
  cursor: pointer;
  font-size: 24px;
  background-color: #1c1a1a;
  color:#fff;
  padding: 0 8px 2px 8px;
  border-radius: 4px;
}

.side-panel {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #f0f0f0;
  transition: left 0.3s ease-in-out;
  z-index: 999;
  padding: 64px 16px 16px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  overflow-y: auto;
}

.side-panel.open {
  left: 0;
}

#schema-list {
  margin-bottom: 20px;
}

.schema-item {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.schema-item:hover {
  background-color: #e0e0e0;
}

/* Adjust main content when panel is open */
main {
  transition: margin-left 0.3s ease-in-out;
}

main.panel-open {
  margin-left: 300px;
}

.field-flex button:first-of-type {
}

.assertion-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.results {
  height:100%;
  background-color: #1e1e1e;
  border-radius: 4px;
}
.select {
  padding: 8px;
  border: 2px solid #c2c2c2;
  border-radius: 4px;
  background-color: white;
}

#results ul {
  list-style-type: none;
  padding:0;
  color:#929292;
}

#results > ul {
  border: 2px solid black;
  padding:16px;
  border-radius: 4px;
}

#results > ul > li {
  border-bottom: 1px solid black;
  padding-bottom: 16px;
}

#results > ul > li:last-of-type {
  border:none;
  padding-bottom:0;
  margin-bottom:0;
}

#results li {
  margin-bottom: 10px;
  display:flex;
  gap:16px;
}

#results li:first-of-type {
  align-items: center;
}

#results li ul {
  margin-top: 5px;
}

#results li ul li {
}

#toggleDetails {
  margin-top: 20px;
}

#detailedResults {
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
}

#toggleDetails.toggle-button {
  background-color: #4c4c4c;
  border:none;
  color:#bababa;
}

.outputs header {
  display: flex;
  align-items: center;
  gap:16px;
  margin-bottom:16px;
}

.results header h3 {
  font-weight: 300;
  padding:0;
  margin:0;
  flex:1;
}

.status {
  font-size:10px;
  padding:4px 8px;
  border-radius:2px;
  font-weight: 600;
}

.status.pass {
  background-color: #60F6C0;
  color:#102F24;
}

.status.fail {
  background-color: #f66074;
  color:#290d11;
}

.field-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  border:2px solid #000;
  text-align: center;
  line-height: 12px;
  border-radius: 50%;
  margin-left: 10px;
}

.field-icon.passed {
  background-color: #60F6C0;
  color: white;
}

.field-icon.failed {
  background-color: #f66074;
  color: white;
}

.assertions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 5px;
}

.assertion {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 16px;
  font-size: 12px;
  position: relative;
  padding-right: 24px;
  background-color: #333;;

}


.value {
  color:#ccc;
}

.assertion::after {
  content: '✓';
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.assertion.passed:after {
  color: #60F6C0;
}

.assertion.failed:after {
  color: #f66074;
}

.assertion.failed::after {
  content: '×';
}

.json-container {
  font-family: monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.5;
}

.json-key {
  color: #55e6fd;
}

.json-string {
  color: #ffc884;
}

.json-number, .json-boolean {
  color: #f5ff2e;
}

.json-null {
  color: #808080;
}

.json-bracket, .json-brace {
  color: #f678ff;
}

.json-comma {
  color: #b5b5b5;
}

#detailedResults {
  margin-top: 20px;
  overflow-x: auto;
}

#alerts {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f7d955;
  color: #594f22;
  padding: 12px 64px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
}

#alerts p {
  margin: 0;
  flex-grow: 1;
}

#alerts div {
  cursor: pointer;
  padding: 5px 10px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 3px;
}

#alerts div:hover {
  background-color: rgba(255,255,255,0.3);
}

@keyframes slideDown {
  from {
      transform: translateY(-100%);
  }
  to {
      transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
      transform: translateY(0);
  }
  to {
      transform: translateY(-100%);
  }
}